<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>

<div id="create-task">
    <form>
        <h3>Создание новой задачи</h3>
        <label>Название задачи</label>
        <input type="text" name="name" value="">
        <label>Описание задачи</label>
        <input type="text" name="description" value="">
        <input type="submit" id="save-task" value="Сохранить">
    </form>
</div>
<div id="todolist">
    <h2>Список задач(<span th:text="${taskCount}">0</span>)</h2>
    <div id="task-list">
        <div th:each="task : ${tasks}">
            <a href="javascript:void(0)"  class="task-link" th:attr="data-id=${task.id}" th:text="${task.name}"></a>

        </div>
    </div>
</div>

</body>
</html>